<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Note <%= id %></title>
</head>
<body>
  <h1>Note : <%= id %></h1>
  <pre><%= content %></pre>
  <a href="/">← Retour</a>
</body>
</html>
